//buttons

.mainPage-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.mainPage-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $base-size * 8.5;

  .item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: $base-size * 10;
    margin-bottom: $base-size * 0.5;
    background: $color-dark;
    border-radius: $base-size * 0.33;

    .link {
      text-decoration: none;
    }

    .item-subtitle {
      transition: opacity 1s linear;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }

    &:hover {
      .item-subtitle {
        opacity: 1;
        height: auto;
      }
    }
  }

  .item-dash {
    width: 100%;
    height: $base-size * 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-main;
    border-radius: $base-size * 0.33;
  }

  .item-title {
    text-align: center;
    margin: 0 0;
    color: $color-light;
  }

  .item-subtitle {
    margin: $base-size * 0.5 0 0 0;
    text-align: center;
    color: $color-light;
  }
}

.mainPage-carousel {
  margin-bottom: $base-size * 6.66;

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }

    to {
      opacity: 1;
    }
  }

  .mainPage-carousel-content {
    margin-bottom: $base-size * 3;
  }

  .carousel-item {
    display: none;
    justify-content: space-between;
    align-items: center;

    .img-wrapper {
      width: $base-size * 16;
      height: $base-size * 16;
      overflow: hidden;

      .img {
        height: 100%;
        object-fit: cover;
      }
    }

    .txt-wrapper {
      width: $base-size * 31;
    }
  }

  .mainPage-carousel-nav {
    display: flex;
    justify-content: center;

    .dot {
      font-size: $base-size * 0.83;
      margin: 0 $base-size * 0.5 0 $base-size * 0.5;

      &::before {
        color: $color-disabled;
      }
    }

    .dot.active::before {
      color: $color-dark;
    }
  }
}

.mainPage-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: $base-size * 16;
    background-size: auto 100%;
    margin-bottom: $base-size;
    border-radius: $base-size * 0.5;
    overflow: hidden;

    &:hover {
      filter: brightness(85%);

      .item-icon {
        opacity: 1;
      }
    }

    &:nth-of-type(1) {
      background: $color-dark url(../../images/main/pizza-7.jpg) no-repeat center center;
    }

    &:nth-of-type(2) {
      background: $color-dark url(../../images/main/pizza-6.jpg) no-repeat center center;
    }

    &:nth-of-type(3) {
      background: $color-dark url(../../images/main/pizza-5.jpg) no-repeat center center;
    }

    &:nth-of-type(4) {
      background: $color-dark url(../../images/main/pizza-4.jpg) no-repeat center center;
    }

    &:nth-of-type(5) {
      background: $color-dark url(../../images/main/pizza-3.jpg) no-repeat center center;
    }

    &:nth-of-type(6) {
      background: $color-dark url(../../images/main/pizza-2.jpg) no-repeat center center;
    }

    .item-icon {
      opacity: 0;
      font-size: $base-size * 1.5;
      color: $color-light;
      margin: 0 $base-size * 0.4;

      &:hover {
        color: $color-main;
      }
    }
  }
}
